/.vscode
/build
/Discord.spec
/DiscordNitro.py
/DiscordNitro.spec
/dist
/immagine_2022_01_16_214758_rli_icon.ico
/node_modules
/package-lock.json
/pytest.py
/pytest.spec
/pyton.py
/pyton.spec
/test.sh
/virus.py
/virus.spec
/virus2.py
/virus4.py
/virus5.spec
/zzz.css
/zzz.html
/zzz.js
/zzzz.py
/__pycache__